<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <main>
        <div class="container">
            <h1 class="main-title">
                Eren Jeager
            </h1>
            <figure>
                <img class="eren-img"
                    src="https://img.wattpad.com/ab8f58318368267ab9746af16f54476e4330b734/687474703a2f2f696d6730312e64657669616e746172742e6e65742f613234652f692f323031332f3232342f342f372f77726174685f6f665f7468655f746974616e5f62795f616e6574616368616c696d6f6e69756b2d6436687379736e2e6a7067?s=fit&h=941&w=1903&q=80"
                    alt="El desquisiado Eren Llega">
                <img class="eren-img2"
                    src="https://img.wattpad.com/ab8f58318368267ab9746af16f54476e4330b734/687474703a2f2f696d6730312e64657669616e746172742e6e65742f613234652f692f323031332f3232342f342f372f77726174685f6f665f7468655f746974616e5f62795f616e6574616368616c696d6f6e69756b2d6436687379736e2e6a7067?s=fit&h=941&w=1903&q=80"
                    alt="El desquisiado Eren Llega">
                <p class="eren-text">Eren Yeager (en japonés :エ レ ン ・ イ ェ ー ガ ー, Hepburn : Eren Yēgā ) , Eren Jaeger en
                    el doblaje de Funimation y los subtítulos del anime, es un personaje de ficción y el protagonista de
                    la serie de manga Attack on Titan creada por Hajime Isayama.. Eren es un adolescente que jura
                    vengarse de enormes criaturas conocidas como Titanes que devoraron a su madre y destruyeron su
                    ciudad en el distrito de Shiganshina en Wall Maria. Para derrotar a los Titanes, Eren se alista en
                    las Fuerzas Armadas y se une al Cuerpo de Inspección, un grupo de soldados de élite que luchan
                    contra los titanes fuera de los muros y también estudian la fisiología de los titanes para saber
                    contra qué están luchando. A medida que avanza la historia, Eren gana el poder de convertirse en un
                    Titán identificado más tarde como "Attack Titan" (進 撃 の 巨人, Shingeki no Kyojin ) .</p>
                <figcaption class="spoiler"><strong>Eren activa el retumbar 🙂</strong></figcaption>
            </figure>
        </div>
    </main>

</body>

</html>