*{
    box-sizing: border-box;
}

.main-nav li{
    display: inline-block;
}

.main-nav a{
    color: white;
    text-decoration: none;
    padding: 10px 100px 10px 100px;
    background-color: #3fdfdf;
    border-radius: 10px;
}

.main-nav .item:hover{
    margin-right:10px;
    background-color:aqua;
}